@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --turquoise:#30D5C8;
    --dark-color:rgb(0, 150, 153);
    --navy-blue:#152238;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--navy-blue);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background: turquoise;
}

section{
	float: left;
	position: relative;
	padding: 3rem;
	background: #fff;
	z-index: 1;
	width: 100%;
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}
.section-title p{
	color:var(--black);
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
  text-align: center;
}
.section-title h2 {
  margin-top: 31px;
	float: left;
	width: 100%;
	text-align: center;
	color: var(--dark-color);
	font-size: 34px;
	font-weight: 800;
	position: relative;
}
.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: var(--dark-color);
	margin-left: -25px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: var(--dark-color);
	box-shadow: 0 9px 26px var(--box-shadow);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: -30px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -30px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background:var(--black);
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background:var(--black);
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #f5f6fa;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}
.listing-rating i{
	color:var(--dark-color);
}
.testimonials-avatar h3{
	font-weight: 600;
	color: var(--light-color);
	font-size: 18px;
}
.testimonials-avatar h4{
	 font-weight:400;
	 font-size:12px;
	 padding-top:6px;
	 color:var(--dark-color);
}
.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px var(--box-shadow);
}
.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0 9px 26px var(--box-shadow);
}
.testimonials-text p{
	color:var(--light-color);
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}
/*.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #f9f9f9;
	border:1px solid #eee;
	box-shadow: 0 10px 15px var(--box-shadow);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}*/
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	float: left;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: var(--turquoise);
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}
.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--navy-blue);
}

.header .header-1 .logo i{
    color:var(--turquoise);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--navy-blue);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--navy-blue);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--turquoise);
}
.header .header-1 .icons div,
.header .header-1 .icons a{
  font-size: 2.1rem;
  margin-left: 5.5rem;
  color: var(--navy-blue);
  cursor: pointer;
}

/*.header .header-1 .icons ,
.header .header-1 .icons .fas{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}*/

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--turquoise);
}

#search-btn{
    display: none;
}




.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
@media (max-width:768px) {
  .hamburger{
    display: block;
    background-color: black;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg); 
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg); 
  }
  .header-1{
    position: fixed;
  }
  .icons{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    transition: 0.3s;
    z-index: 20;
  }
  .icons a, .icons div{
    margin: 10px !important;
  }
  .icons.active{
    left: 0;
    justify-content: flex-start;
  }
  
}
  

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }
   /* .menu-btn{
        border: none;
        position: absolute;
        left: 80%;
    }*/


}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

@media (max-width:503px){
.menu-btn{
        border: none;
        position: absolute;
        left: 80%;
    }
}
/*home section*/
.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: var(--navy-blue);
  color:white;
  font-size: 1.8rem;
  padding:.9rem 3.5rem;
  cursor: pointer;
}

.btn:hover{
  background:var(--dark-color);
  color:#fff;
}

.home{
  background: url(https://articles.cyzerg.com/hubfs/Warehouse%20Layout%20-%20Compressed.jpg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap:1.5rem;
  height: 100vh;
  position: relative;
}



.home .content{
  flex:1 1 38rem;
  text-align: center;
}

.home .image{
  flex:1 1 40rem;
  text-align: center;
}

.home .image img{
  width:42vw;
}

.home .content span{
  color:var(--navy-blue);
  font-size: 3rem;
}

.home .content h3{
  color:var(--dark-color);
  font-size: 8rem;
  /*text-transform: uppercase;*/
}
/*WHY SELL ON*/
.heading{
  padding:1rem 0;
  margin-bottom: 2rem;
  /*border-bottom: .1rem solid var(--light-color);*/
  font-size: 3rem;
  color:var(--navy-blue);
  text-transform: uppercase;
}

.heading span{
  color:var(--dark-color);
  text-transform: uppercase;
}
.category .box-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap:1.5rem;
}

.category .box-container .box2{
  height: 30rem;
  flex:1 1 40rem;
  border-radius: .5rem;
  position: relative;
  overflow:hidden;
  background-color:#eaf5f4;
}

.category .box-container .box2 img{
  height: 100px;
  width:100px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;

}

/*.category .box-container .box:hover {
  transform: scale(1.1);
}*/

.category .box-container .content{
  position: absolute;
  bottom: 7rem; left:2rem;
}

.category .box-container .content h5{
  font-size: 13px;
  color:var(--navy-blue);
}

.category .box-container .content h4{
  font-size: 23px;
  color:var(--dark-color);
  /*text-transform: uppercase;*/
  padding-top: .5rem;
}
/*footer*/
.footer{
  background: #fff;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap:1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:#130f40;
  padding:1rem 0;
}

.footer .box-container .box h3 i{
  color:var(--dark-color)
}

.footer .box-container .box .links{
  display: block;
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.footer .box-container .box .links i{
  color:var(--dark-color);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
  padding-right: 2rem;
}


.footer .box-container .box p{
  line-height: 1.8;
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.footer .box-container .box .share a{
  height:4rem;
  width:4rem;
  line-height:4rem;
  border-radius: .5rem;
  font-size: 2rem;
  color:#130f40;
  margin-right: .2rem;
  background: #eee;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background:var(--dark-color);
  color: #fff;
}

.footer .box-container .box .email{
  width: 100%;
  margin:.7rem 0;
  padding:1rem;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.6rem;
  color:#130f40;
  text-transform: none;
}



.footer .credit{
  text-align: center;
  margin-top: 2rem;
  padding:1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color:#130f40;
  border-top:2rem solid rgba(0,0,0,.1);
}

.footer .credit span{
  color:var(--dark-color);
}


.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .image{
    flex:1 1 40rem;
}

.about .image img{
   /* height:84vh;*/
    width:42vw;
}

.about .content{
    flex:1 1 40rem;
}

.about .content h3{
    font-size: 3.5rem;
    color: var(--dark-color);
}

.about .content p {
    font-size: 1.5rem;
    color:var(--navy-blue);
    padding:1rem 0;
}


/*media query*/

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .footer{
      text-align: center;
  }

  .footer .box-container .box .payment-img{
      margin: 2rem auto;
  }
}

/* media queries  */

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header .header-1{
      padding:2rem;
  }

  section{
      padding:3rem 2rem;
  }
 /* .menu-btn{
      border: none;
      position: absolute;
      left: 80%;
  }*/


}

@media (max-width:768px){

  html{
      scroll-padding-top: 0;
  }

  body{
      padding-bottom: 6rem;
  }

  .home .content{
    text-align: center;
}

.home .image img{
    width: 100%;
}
 
.about .image img{
  width: 100%;
}
  #search-btn{
      display: inline-block;
  }

  .header .header-1{
      box-shadow: var(--box-shadow);
      position: relative;
  }

  .header .header-1 .search-form{
      position:absolute;
      top:-115%; right:2rem;
      width: 90%;
      box-shadow: var(--box-shadow);
  }

  .header .header-1 .search-form.active{
      top:115%;
  }

 
}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  section{
      padding:2rem;
  }
  .home .content h3{
    font-size: 5rem;
}
}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .footer{
      text-align: center;
  }

  .footer .box-container .box .payment-img{
      margin: 2rem auto;
  }
}
@media (max-width:503px){
.menu-btn{
      border: none;
      position: absolute;
      left: 80%;
  }
}
@media (max-width:407px){
.category .box-container .box img{
  height: 55px;
  width: 69px;
}
}
.icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(255,255,255,.9);
  position:fixed;
  top:0; right:-105%;
  z-index: 10000;
  height:100%;
  width:100%;
}

.login-form-container.active{
  right:0;
}

.login-form-container form{
  background:#fff;
  border:var(--border);
  width:40rem;
  padding:2rem;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  margin:2rem;
}

.login-form-container form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color:var(--navy-blue);
  text-align: center;
}

.login-form-container form span{
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.login-form-container form .box{
  width: 100%;
  margin:.7rem 0;
  font-size: 1.6rem;
  border:var(--border);
  border-radius: .5rem;
  padding:1rem 1.2rem;
  color:var(--navy-blue);
  text-transform: none;
}

.login-form-container form .checkbox{
  display:flex;
  align-items: center;
  gap:.5rem;
  padding:1rem 0;
}

.login-form-container form .checkbox label{
  font-size: 1.5rem;
  color:var(--light-color);
  cursor: pointer;
}

.login-form-container form .btn{
  text-align: center;
  width:100%;
  margin:1.5rem 0;
}

.login-form-container form p{
  padding-top: .8rem;
  color:var(--light-color);
  font-size: 1.5rem;
}

.login-form-container form p a{
  color:var(--turquoise);
  text-decoration: underline;
}

.login-form-container #close-login-btn{
  position: absolute;
  top:1.5rem; right:2.5rem;
  font-size: 5rem;
  color:var(--navy-blue);
  cursor: pointer;
}


/*Mahatav*/
.header-1 img{
  height: 50px;
  
}

.home_overlay{
  
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.65);
    
}

.overlay_content{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.overlay_content img{
  position: absolute;
  top: 28%;
  height: 200px;
  filter: brightness(2);
}

.content{
  margin-top: 150px;
}

.content h4{
  color: white;
  filter: brightness(0.85);
  font-size: 40px;
}

.content p{
  color: white;
  filter: brightness(0.85);
  font-size: 18px;
}

.product p{
    font-size: 17px;
    color:var(--navy-blue);
    padding:1rem 0;
}

.heading{
  color: var(--navy-blue);
  
  font-size: 35px;
  line-height: 20px;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}


.face2:hover{
  background: rgb(139, 185, 228);
}
.features .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.features .box-container .box{
  padding:3rem 2rem;
  background: #fff;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.features .box-container .box:hover{
  outline: var(--outline-hover);
  outline-offset: 0rem;
}

.features .box-container .box img{
  margin:1rem 0;
  height: 15rem;
}

.features .box-container .box h3{
  font-size: 2.5rem;
  line-height: 1.8;
  color:var(--black);
}

.features .box-container .box p{
  font-size: 1.5rem;
  line-height: 1.8;
  color:var(--light-color);
  padding:1rem 0;
}
@media (max-width: 367px){
  .content h4{
    font-size: 29px;
  }
  .overlay_content img {
    height: 108px;
  }
}
@media (max-width: 511px){

.overlay_content img {
    height: 147px;
  }
}
@media (max-width: 630px){

  .overlay_content img {
      height: 150px;
    }
  }
  @media (max-width: 470px){

    .overlay_content img {
        height: 106px;
      }
    }
    @media (max-width: 470px){

      .content h4 {
          font-size: 24px;
        }
      }